%h1 Tasks
%table.table.table-striped
  %thead
    %tr
      %th #
      %th{width: '10%'} Created at
      %th Name
      %th Description
      - if current_user.admin?
        %th User
      %th State
      %th Actions
  %tbody
    - @tasks.each do |task|
      = render 'web/users/tasks/task', task: task
