-# add navigation links to this file
- if signed_in?
  %li= link_to current_user.email, ''
  %li= link_to t('.sign_out'), sign_out_path, method: :delete
- else
  %li= link_to t('.sign_in'), sign_in_path
